h1 {
    color = red;
    text-align: center;
    font-family: 'Lobster', cursive;
}
body {
    background-color: lightgreen;
}
#content {
    margin: auto;
    width: Window.width;
}

#form {
    text-align: center;
    width:32%;
    margin: auto;
    background: #0099cc;
    border-radius: 15px;
    min-width: 250px;
    padding: 10px
}

#input {
    text-align:center;
    font-size:1.25em;
    margin: auto;
    width: 80%;
    height: 50px;
    border-radius: 7px;
}

label {
    font-size:1.25em;
    font-family: 'Lobster', cursive;
    margin: 0 auto;
}

button {
    text-align:center;
    margin: 10px auto;
    width: 120px;
    min-width:30px;
    padding: 5%;
    color: #fff;
    background-color: #444;
}

button:hover{
    background-color: #999;
}

.btn {
    border-radius = 5px;
}

#bottomButtons {
    text-align: center;
    margin: auto;
    width: 250px;
}

#bottomButtons button {
    width:40%;
    margin:5%;
    float: left;
}

#message{
    padding-box: 20px;
    text-align: center;
    font-size:1.25em;
    margin: 10px auto;
    width: 95%;
    color: #fff;
    display: none;
}

#submitBtn {
    text-align:center;
    position: relative;
}

#hint{
    text-align: center;
    position: relative;
}

.btn: focus{
    border-color: clear;
}

#handImg {
/*    display: none;*/
    margin-top:40px;
    margin-left: -150px;
    position:relative;
    left: 50%;
    width:300px;
}



