h1 {
    color = red;
    text-align: center;
    font-family: 'Lobster', cursive;
}
body {
    background-color: lightgreen;
}
#content {
    margin: auto;
    width: Window.width;
}



#form {
    width:32%;
    margin: auto;
    background: #0099cc;
    border-radius: 15px;
    min-width: 250px;
    padding: 10px
}
#input {
    text-align:center;
    font-size:1.25em;
    margin: auto;
    width: 95%;
    height: 50px;
}

label {
    font-size:1.25em;
    font-family: 'Lobster', cursive;
    margin: 0 auto;
}

button {
    text-align:center;
    margin: 10px auto;
    width: 40;
    min-width:30px;
    padding: 5%;
    color: #fff;
    background-color: #444;
}

button:hover{
    background-color: #999;
}

#bottomButtons {
    margin: auto;
    width: 250px;
}
#bottomButtons button {
    width:40%;
    margin:5%;
    float: left;
    
}

#submitBtn {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform:translate(-50%);
    transform: translate(-50%);
}

#bottomButtons label{
    position: relative;
    left: 35px;
}
